<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>koda</title>
  <meta name="description" content="koda">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href="css/lightbox.css" rel="stylesheet" />
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">koda</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>
  
  <script src="js/jquery.min.js" ></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/lightbox.js"></script>
  {% block script %}{% endblock %}
</body>
</html>